.vscode/
TmkGondorTreasury/bin/
TmkGondorTreasury/obj/
secrets.json
.DS_Store
.idea/
Properties/launchSettings.json
/TmkGondorTreasuryTest/.env
/TmkGondorTreasuryTest/bin/
/TmkGondorTreasuryTest/obj/
TmkGondorTreasuryTest/bin/Debug